<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" name="Suite">
<listeners>
<listner class-name="com.ect.utilities.ListenerClass"></listner>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.ect.testcases.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->